* {
	font-family: JetBrainsMono, SymbolsNerdFont;
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

@define-color bg #234faA;
@define-color fg #f9f9f9;
@define-color green #2BE491;
@define-color gr #363749;
@define-color black rgb(48, 48, 48);

window#waybar {
	background-color: rgb(58, 58, 58);
	border: solid 5px rgba(31, 31, 31, 0);
	transition-duration: .5s;
	border-radius: 12px;
}


#workspaces {
	background-color: rgb(48, 48, 48);
	margin: 0px;
	border-radius: 0;
}

#workspaces button {
	background-color: @black;
	color: #f9f9f9;	
	padding: 0 4px;
	margin: 2px 0px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}

#workspaces button:hover {
	background-color: @black;
	color: #f9f9f9;	
	padding: 0 4px;
	margin: 2px 0px 0 5px;

	border-radius: 0;
}

#workspaces button.active {
	background-color: @black;
	color: #11b0ff;
	padding: 4px 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px;
	border-radius: 0;
}

#workspaces button.empty {
	color: @gr;
	padding: 0 4px;
	margin: 2px 5px 0 5px;
	border-bottom: solid 2px #23252e;
	border-radius: 0;
}

#tray {
	background: @black;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 0px;

}
#wireplumber{
	background: @black;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 0px;
}

#language {
	background: @black;
	color: @green;
	padding: 0;
	margin: 0px;
}

#clock {
	background: @black;
	color: @fg;
	padding: 0 15px 0 29px;
	margin: 0px;
	border-radius: 0 12px 12px 0;
	font-size: 14px;
}

#memory {
	background: @black;
	color: @fg;
	padding: 0 15px 0 15px;
	margin: 0px;
	border-radius: 12px 0 0 12px;
	font-size: 14px;
}
